input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none !important;
  padding: 3px 10px !important;
  min-height: 40px !important;
  font-size: 16px !important;
}

.form-table .form-required.form-invalid td:after {
  // float: right;
  // margin: -30px 10px 0 0;
}
