//
// Overrides built-in wp styles.
//

$border-color: #e5e5e5;

#footer-thankyou {
  font-style: normal;
}

#menu-management .menu-edit,
#menu-settings-column .accordion-container,
.comment-ays,
.feature-filter,
.imgedit-group,
.manage-menus,
.menu-item-handle,
.popular-tags,
.stuffbox,
.widget-inside,
.widget-top,
.widgets-holder-wrap,
.wp-editor-container,
p.popular-tags,
table.widefat {
  border: 1px solid $border-color;
  box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
}
.widefat thead td,
.widefat thead th {
  border-bottom: 1px solid $border-color;
}
.widefat tfoot td,
.widefat tfoot th {
  border-top: 1px solid $border-color;
}

.wrap h1.wp-heading-inline {
  position: relative;
  // z-index:1;
  @include make-page-header();
}

.page-title-action {
  position: absolute !important;
  right: 20px;
  top: 16px !important;
}

.postbox-header {
  border-bottom: 1px solid $border-color;
}

.postbox {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 10%);
}
