#adminmenuback,
#adminmenuwrap,
#adminmenu,
#adminmenu .wp-submenu {
  width: var(--dp-menu-width);
}

#adminmenuwrap {
  position:absolute;
  margin: 0 !important;
  top: 0 !important;
}

.folded{
  #adminmenuback, 
   #adminmenuwrap, 
   #adminmenu, 
   #adminmenu li.menu-top{
    width:3rem;
  }
}
