@mixin make-page-header() {
  position: fixed;
  top: 0;
  right: 0;

  // margin: 0 calc((100vw - 100% - 180px) / -2);
  padding: 0 1.5rem;
  background: #fff;

  width: calc(100vw - var(--dp-menu-width));
  height: 64px;
  line-height: 64px;
  box-sizing: border-box;
}
