.user-new-php {
  #wpbody {
    max-width: 720px;
    margin: 0 auto;
  }

  .wrap {
    margin: 0;
  }

  h1#add-new-user {
    position: fixed;
    top: 0;
    right: 0;

    // margin: 0 calc((100vw - 100% - 180px) / -2);
    padding: 0 1.5rem;
    background: #fff;

    width: calc(100vw - var(--dp-menu-width));
    height: 64px;
    line-height: 64px;
    box-sizing: border-box;
  }
}

.wp-pwd {
  position: relative;

  button.wp-hide-pw {
    background: none !important;
    border: none !important;
    min-height: 40px;
    position: absolute;
    left: 0;
    top: 0;

    .text {
      display: none;
    }
  }

  input {
    padding: 0 0 0 2.5em !important;
  }

  #pass-strength-result {
    margin-top: 1em;
    background: none;
    text-align: left;
    border: 0;

    &.bad,
    &.short {
      color: #e65054;
    }

    &.strong {
      color: green;
    }
  }
}

form#createuser {
  .form-table tr.form-field {
    &:nth-child(3), // First name
    &:nth-child(4), // Last name
    &:last-child // Role
    {
      display: none;
    }
  }
}
