@import "vars";
@import "mixins";
@import "global";
@import "layouts";
@import "forms";
@import "menus";
@import "users";

.tj-page-header {
  box-sizing: border-box;
  position: relative;
  background: #fff;
  display: flex;
  height: 64px;
  visibility: visible;
  width: 100%;
  border: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 24px;
  }
}

.tj-container {
  max-width: 640px;
  margin: 0 auto;
}

.tj-page-title {
  font-size: 23px;
  font-weight: 400;
  margin: 0;
  line-height: 1.25;
}

.tj-page-body {
  // max-width: 800px;
  margin: 0 auto;
  padding: 32px;
}

.tj-settings-loading {
  display: flex;
  justify-content: center;
  min-height: 20rem;
  align-items: center;
}

.tj-plan-cards {
}

.tj-plan-card {
  display: flex;
  flex-direction: column;

  &__features {
    flex: 1;
  }
}
